{% extends 'demo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    HTM Framework
{% endblock %}

{% block content %}

	<ul class="nav nav-tabs">
  <li role="presentation"><a href="http://localhost:8000/categoryencoding">Category Encoding</a></li>
  <li role="presentation" class="active"><a href="http://localhost:8000/scalarencoding">Scalar Encoding</a></li>
  <li role="presentation"><a href="http://localhost:8000/dateencoding">Date Encoding</a></li>
</ul>
	<p></p>
	<div class="form-group bootstrap3-required"><label class="control-label" for="id_file1">Upload Data</label><div class="row bootstrap3-multi-input"><div class="col-xs-12"><input type="file" name="file1" title="" required class="" id="id_file1" /></div></div></div>
    
	<div class="form-group"><label class="control-label" for="id_message">W</label><div class="control-label"><input type="text" name="W" title="my_help_text" placeholder="0" class="form-control" id="id_W" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">Minval</label><div class="control-label"><input type="text" name="Minval" title="my_help_text" placeholder="0" class="form-control" id="id_Minval" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">Maxval</label><div class="control-label"><input type="text" name="Maxval" title="my_help_text" placeholder="0" class="form-control" id="id_Maxval" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">Periodic</label><div class="control-label"><input type="text" name="Periodic" title="my_help_text" placeholder="True" class="form-control" id="id_Periodic" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">N</label><div class="control-label"><input type="text" name="N" title="my_help_text" placeholder="0" class="form-control" id="id_N" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">Radius</label><div class="control-label"><input type="text" name="Radius" title="my_help_text" placeholder="0" class="form-control" id="id_Radius" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">Resolution</label><div class="control-label"><input type="text" name="Resolution" title="my_help_text" placeholder="True" class="form-control" id="id_Resolution" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">Name</label><div class="control-label"><input type="text" name="Name" title="my_help_text" placeholder="" class="form-control" id="id_Name" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">Verbosity</label><div class="control-label"><input type="text" name="Verbosity" title="my_help_text" placeholder="0" class="form-control" id="id_Verbosity" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">ClipInput</label><div class="control-label"><input type="text" name="ClipInput" title="my_help_text" placeholder="False" class="form-control" id="id_ClipInput" /></div></div>
	<div class="form-group"><label class="control-label" for="id_message">Forced</label><div class="control-label"><input type="text" name="Forced" title="my_help_text" placeholder="False" class="form-control" id="id_Forced" /></div></div>
		
	
	<div class="form-group bootstrap3-req"><label class="control-label">Other Options</label><div class="control-label"><div id="id_category2">    
	<div class="checkbox"><label for="id_category2_0"><input type="checkbox" name="category2" value="1" id="id_category2_0" class="" />
	Spatial Pooling</label></div>                                                                                                    
                                                                                                                                     
	<div class="checkbox"><label for="id_category2_1"><input type="checkbox" name="category2" value="2" id="id_category2_1" class="" />
	Temporal Memory</label></div>                                                                                                    
	                                                                                                                                 
	<div class="checkbox"><label for="id_category2_2"><input type="checkbox" name="category2" value="3" id="id_category2_2" class="" />
	Classify Data</label></div>                                                                                                      
	                                                                                                                                 
	<div class="checkbox"><label for="id_category2_3"><input type="checkbox" name="category2" value="4" id="id_category2_3" class="" />
	Detect Anomaly</label></div>	
	</div>
	
	{% bootstrap_button "Run" button_type="submit" button_class="btn-primary" %}

</div></div>
	
{% endblock %}
